
@{
    ViewBag.Title = "PieChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/c3.css" rel="stylesheet" />
<h2>PieChart</h2>

<div id="pieChart">

</div>

@section scripts{
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/c3.js"></script>
    <script src="~/Scripts/d3.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            $.ajax({
                type: "GET",
                url: "/Piechart/PieChart",
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    debugger;
                    successFunc(response);
                },
            });

            function successFunc(jsondata) {
                debugger
                var data = {};
                var customerNames = [];
                jsondata.forEach(function (e) {
                    customerNames.push(e.ContactName);
                   
                })
                var chart = c3.generate({
                    bindto: '#pieChart',
                    data: {
                        json: [data],
                        keys: {
                            value: customerNames,
                        },
                        //type: 'pie'
                        type:'bar'
                    },
                    color: {
                        pattern: ['#1f77b4', '#aec7e8', '#ff7f0e', '#ffbb78', '#2ca02c', '#98df8a', '#d62728', '#ff9896', '#9467bd', '#c5b0d5', '#8c564b', '#c49c94', '#e377c2', '#f7b6d2', '#7f7f7f', '#c7c7c7', '#bcbd22', '#dbdb8d', '#17becf', '#9edae5']
                    },
                });
            }
        });
    </script>
}